html {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #272520 !important;
	scroll-behavior: smooth;
}
body {
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-size: 16px;
	background-color: #272520 !important;
	height: 100%;
	margin: 0;
	padding: 0;
}
button {
	cursor: pointer;
	border: none;
}
.wrap {
	padding: 0px 16px;
}
#contact_form select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	background-color: white;
	border: 1px solid #ffc83d;
	border-radius: 8px;
	padding: 1rem;
	font-size: 1rem;
	color: black;
	background-image: url('/m/a/icon_arrow.svg');
	background-repeat: no-repeat;
	background-position: right 1rem center;
	background-size: 1rem;
	cursor: pointer;
}